doctype html
html(ng-app="angularTest")
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width")
        title=title
        each font in assets.fonts
            link(rel="stylesheet", media="screen", href = font)
        each css in assets.css
            link(rel="stylesheet", href = css)
    body
        div(ui-view, class="content")
        each js in assets.js
            script(src = js)
