<div class="logo"></div>
<div class="menuDetails">
	<div class="settingsIcon">
		<a href="javascript:void(0);" class="sliderToggleBtn fa fa-cog"></a>
		<div class="dropdown-menu-icon">
			<a href="javascript:void(0);" class="addBtnCombo" ng-click="showTemplateFlyOut();"><i class="fa fa-plus"></i></a>
			<div class="balloonFlyOut fadeOut">
			<div class="panel-heading"> <span>Add a new section</span></div>
			<div class="templateList">
				<div class="wrap">
					<div class="scrollContainer">
						<ul>
							<li class="thumbnailStyle" ng-repeat="(key, menuItem) in menuStack.menuList">
								<input type="radio" name="sideMenu" value="{{menuItem.menuContentId}}" />
								<label>
									<span>{{menuItem.content.class}}</span>
									<div 
										render-template-miniature
										class="miniature" 
										></div>
								</label>
							</li>
						</ul>
					</div>
				</div>
			</div>
			</div>
		</div>
	</div>
	<div class="centerAlign topMenuWrapper">
		<ul>
			<li ng-repeat="listItem in data.menuList">
				<a 
					href="javascript:void(0);"
					data="#{{listItem.content.menuRef}}" 
					title="{{listItem.content.link.title}}" 
					target="{{listItem.content.link.target}}">
					{{listItem.menuId}}
				</a>
			</li>
		</ul>
	</div>
	<div class="userIcons">
		<a href="javascript:void(0);" class="userProfile"><i class="fa fa-user"></i> <span>{{data.users.name}}</span></a>
		<a href="#/login" class="logout fa fa-sign-out"></a>
	</div>
</div>
<script>
window.setTimeout(function() {
	jQuery(".topMenuWrapper ul li").eq(0).addClass("active");
}, 50);
</script>